# SAFETY
config/private_key.pem
config/public_key.pem
user_data.tomldebug.log
config/user_data.toml
.streamlit/secrets.toml
src/db/smitdb_secrets.py
*/db_test_secrets*

# application specific
csv_raw/
csv_workdir/
.dummy/
log/dates.pkl
.flask/
.ruff_cache/

# documentation
docs/SMIT
docs/tests
docs/index.html


# system specific
__pycache__/
.ipynb_checkpoints/
*.log
.venv/
*.egg-info
.tox
.mypy_cache
.pytest_cache
.vscode/
# developement files
testing.py
