# python folder structure
csv_raw/
csv_workdir/
old_files/
raw_import/
alpha/
stromnetzgraz/

# system folders
__pycache__/
.ipynb_checkpoints/
*.log

# scraping files
#*.pkl

# developement files
testcode.py
scrapeandmove.py