# custom folder structure
csv_raw/
csv_workdir/
# shared_docs/
# no_git/

# system specific
__pycache__/
.ipynb_checkpoints/
*.log

# developement files
testcode.py
#test_nb.ipynb

# excluded for security issues
user_data.toml